body {
    font-family:'Times New Roman', Times, serif;
    margin: 20px;
    
}
h1{
    margin-top: 50px;;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
form {
                                                                                                       
    padding:30px;
    border-radius:5px;
    box-shadow: #0d355a 1px 4px 10px;
    max-width: 400px;
    margin: auto;
    margin-top:60px;
}

label {
    display: block;
    margin-top: 10px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    margin-top: 20px;
    padding: 10px 20px;
    width:400px;
    border-radius:5px;
    background-color: #0d355a;
    color: white;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #2e74dd;
}

